<!Doctype html>
<html>
    <!-- Min VS original -->
    <script src="lib/angular.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
    <!-- Angular -->
    <script src="js/Item.js"> </script>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel='stylesheet' type="text/css">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css">
        <link rel="stylesheet" href="./style/es_item_style.css">
        <script src="http://code.jquery.com/jquery.min.js"></script>
        
        
        <title>Hyuga</title>
        <style>
            
            
        </style>
    </head>
    <body ng-app="Hyuga" ng-controller="ItemSelected">
        <div id="money_nav"> 
            <h3>현재 금액 : {{totalItemPrice}}원</h3>
        </div>
        <div id="main_nav" class="right">
            <ul>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
            </ul>
            
        </div>
        <div id="main_bg">
            
            <div id="header_box">
                <h1 id="logo"><a href="./index.html">Hyuga</a></h1>
                <p>에서 뭘 먹고 싶나요?</p>
            </div>
        </div>
        <div id="selection_box" id="ng-app" >
            <p class="info">먹거리를 선택해주세요</p>
            <div id="btn_group">
                <ul ng-repeat="i in items">
                    <li><a href="#selection_box"><div class="btn" ng-click="getitem(i);">{{i.item}}</div></a></li>
                    <!--
                    <li><a href="#selection_box"><div class="btn">삼겹살</div></a></li>
                    <li><a href="#selection_box"><div class="btn">오겹살</div></a></li>
                    <li><a href="#selection_box"><div class="btn">칠겹살</div></a></li>
                    <li><a href="#selection_box"><div class="btn">오골계</div></a></li>
                    <li><a href="#selection_box"><div class="btn">삼겹살</div></a></li>
                    <li><a href="#selection_box"><div class="btn">삼겹살</div></a></li>
                    -->
                </ul>
                    
            </div>
            <br>
             <p class="sub_info" style="clear:both">현재는 beta서비스이므로 '삼겹살'만 지원합니다.</p>
           
        </div>
        <div id="main_contents" >
            
            <div class="card">    

                <h2 style="text-align:center;  margin:40px 10px 40px 10px; color:#444444;">영수증</h2>
                
<!--                <div class="item" ng-repeat="j in itemlist track by $index">-->
                <div class="item" ng-repeat="j in itemlist">

                    <h3 class="left" style="display:inline; color:#444444;">{{j.item}}</h3>
                    <div class="right">
                        <input class="input_number" type="number" min="1" ng-model="count" ng-click="plusplus($index,count*j.price);"></input>
                        <span>개</span>
                        
                        <strong>
                            <div class="price">
                                <span style="margin-right:10px; color:#444444;">{{count*j.price}}원</span>
                                <a ng-click="deleteItem($index)" style="color:#882222;"><i class="xi-close"></i></a>
                            </div>
                        </strong>
                        
                    </div>
                    <div style="clear:both;"></div>
                    <strong><div class="price">{{j.price|currencywon}}</div></strong>
                </div>
                <strong><div class="price" style="margin:30px; font-size:22px;"ng-click="updateTotal();">{{totalsum}} 원</div></strong>
<!--
                <div class="item">
                    <h3 class="left" style="display:inline">Item 이름</h3>
                    <div class="right">
                        <input class="input_number" type="number"></input>
                        <span>개</span>
                    </div>
                    <strong><div class="price">3,000원</div></strong>
                </div>
-->
            </div>
    
            <div style="width:80%;">
                <a href="./pension_view.html"><div class="btn_prev" style="float:left;">이전 단계</div></a>
                <a href="./real_item_view.html"><div class="btn_next" style="float:right;">다음 단계</div></a>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="footer">
            Hyuga Inc.
            <p style="font-size:12px;margin-top:5px;">Hanyang University, ERICA</p>
        </div>    
        <a href="#">
            <div id ="arrow_up"class="btn_arrow">
                <i class="xi-arrow-up"></i>
            </div>
        </a>
        <a href="#footer">
            <div id="arrow_down"class="btn_arrow">
                <i class="xi-arrow-down"></i>
            </div>
        </a>
    </body>

</html>
