<!Doctype html>
<html>
    <!-- Min VS original -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script> 
    <!-- Angular -->
    <script src="js/Item.js"> </script>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel='stylesheet' type="text/css">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css">
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <link rel="stylesheet" href="./style/pension_style.css">
        
        <title>Hyuga</title>
        
        <script>
            $(document).ready(function(){
                $("#money_nav").hide();
                $(".danger_info").hide();
                $("#money_nav").slideDown("slow");
                
                $(".danger").click(function(){
                    $(".danger_info").slideDown("fast").delay(800).fadeOut(400);
                    
                    
                });
                
            });
        </script>
    </head>
    <body ng-app="Pension" ng-controller="PensionSelected">
        
        <div id="money_nav"> 
            <h3>현재 금액 : {{pensionprice}}원</h3>
        </div>
        <div class="danger_info">
            해당기능은 아직 지원되지 않습니다.
        </div>
        <div id="main_nav" class="right">
            
            <ul>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#">test</a></li>
            </ul>
            
        </div>
        <div id="main_bg">
            
            <div id="header_box">
                <h1 id="logo"><a href="./index.html">Hyuga</a></h1>
                <p>어디로 떠나고 싶나요?</p>
            </div>
        </div>
        <div id="selection_box">
            <p class="info">여행지를 선택해주세요</p>
            </br>
            <div id="btn_group">
                <ul>
                    <li><a href="#"><div class="btn">대부도</div></a></li>
                    <li><a><div class="danger">오이도</div></a></li>
                    <li><a><div class="danger">남이섬</div></a></li>   
                    <li><a><div class="danger">제주도</div></a></li>    
                </ul>
            </div>
            <p class="sub_info" style="clear:both">현재는 beta서비스이므로 '대부도'만 지원합니다.</p>
        </div>
        <div id="main_contents" id="ng-app" ng-controller="PensionPostsCtrlAjax">
            <div ng-repeat="p in posts" ng-click="myFunc()" >
                <div class="card" ng-click="addSum(p);">
                    <img src='{{p.thumb}}' width="128px" class="left">
                    <h3><a href='{{p.url}}'  style="color:#888888">{{p.name}}</a></h3> 
                    <p>{{p.people}} {{p.cost}}원 ({{p.location}})</p>
                </div>
            </div>
            <!--
            <div class="card">    
                <img src="http://placehold.it/800x300" width="100%" class="left">
                <h3>Title 제목</h3>
                <p>plain text</p>
            </div>
            <div class="card">
                
                <img src="http://placehold.it/800x300" width="100%" class="left">

                <h3>Title 제목</h3>
                <p>plain text</p>

            </div>
            -->
            <div style="width:80%;">
                <a href="./event_view.html"><div class="btn_prev" style="float:left;">이전 단계</div></a>
                <a href="./es_item_view.html"><div class="btn_next" style="float:right;" ng-show="showMe">다음 단계</div></a>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="footer">
            Hyuga Inc.
            <p style="font-size:12px;margin-top:5px;">Hanyang University, ERICA</p>
        </div>
        
        <a href="#">
            <div id ="arrow_up"class="btn_arrow">
                <i class="xi-arrow-up"></i>
            </div>
        </a>
        <a href="#footer">
            <div id="arrow_down"class="btn_arrow">
                <i class="xi-arrow-down"></i>
            </div>
        </a>
    </body>
</html>