*{
    margin: 0 auto;
    -webkit-text-size-adjust:auto;
    font-family: 'nanumgothic';
}
a{
    text-decoration: none;
    color: white;
}
#main_bg{
    background-image: url(../img/plan.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 10%;
}
#main_nav{
    color: white;
    margin: 20px;
    margin-right: 50px;
}
#main_nav > ul{
    list-style: none;
}
#main_nav > ul > li{
    color: white;
    float: left;
    margin: 10px;
    font-size: 20px;
}
#logo{
    color: white;
    font-family: 'Poiret One';
}
#logo > a{
    font-family: 'Poiret One'
}
#header_box{
    color: white;
}
#header_box > h1{
    font-size: 84px;
    margin-bottom: 20px;
}
#header_box > p{
    font-size: 24px;
}
#selection_box{
    padding: 20px;
}
#selection_box > .info{
    color: gray;
    margin: 20px;
    font-size: 24px;
}
#main_contents{
    background: #cccccc;
}

#btn_group{
    padding: 0 20px 20px 20px;

}
#btn_group > ul{
    list-style: none;
}
#btn_group > ul > li{
    float: left;
    margin-right: 20px;
}
#main_contents{
    padding: 20px;
}
#footer{
    font-size: 24px;
    font-family: 'Poiret One';
    text-align: center;
    opacity: 0.8;
/*                background: #333333;*/
    padding: 15px;
    color: #888888;
}
#footer > p{
    font-family: 'nanumgothic';
}
.right{
    float: right;
}
.left{
    flex: left;
}
.btn{
    width: 52px;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 12px 24px 12px 24px;
    color: #444444;
    box-shadow:0 1px 2px #aaa;
}
.btn:hover{
    transition: 0.3s;
    background: white;
    background: #314570;
    color: white;
}
.danger{
    width: 200px;
    opacity: 0.8;
    margin-top: 20px;
    border-radius: 3px;
    padding: 12px 24px 12px 24px;
    background: #882222;
    color: white;
    text-align: center;
    box-shadow:0 1px 2px #aaa;
}
.danger:hover{
    transition: 0.3s;
    background: white;

    color: white;
}
.btn_next{
    background: #77bc77;
    width: 80%;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 12px 24px 12px 24px;
    border-radius: 3px;
    box-shadow:0 1px 2px #aaa;
}
.btn_next:hover{
    transition: 0.3s;
    color: white;
}
.sub_info{

    text-align: right;
    padding: 20px;
    font-size: 14px;
    color: gray;
}
.card{
    font-family: 'nanumgothic';
    width: 80%;
    padding:1.5rem;
    box-shadow:0 1px 2px #aaa;
    background:white;
    margin: 20px auto;
    border-radius:3px;
}
.card > h1{
    color: #444444;
    margin: 30px;
}
.card > div.contents{
    color: #666666;
}
input{
    width: 80%;
    padding: 10px;
    font-size: 18px;
    color: #888888;
    border-radius: 3px;
    border: 1px solid #888888;
    box-shadow:0 1px 2px #aaa;
    margin: 10px;   
}