*{
    margin: 0 auto;
    -webkit-text-size-adjust:auto;
    font-family: 'nanumgothic';
}
a{
    text-decoration: none;
    color: white;
}
#main_bg{
    background-image: url(../img/beaf.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 10%;
}
#main_nav{
    color: white;

    margin: 20px;
    margin-top: 80px;
    margin-right: 50px;
}
#main_nav > ul{
    list-style: none;
}
#main_nav > ul > li{
    color: white;
    float: left;
    margin: 10px;
    font-size: 20px;
}
#logo{
    margin-top: 40px;
    color: white;
    font-family: 'Poiret One';
}
#logo > a{
    font-family: 'Poiret One'
}
#header_box{
    color: white;
}
#header_box > h1{
    font-size: 84px;
    margin-bottom: 20px;
}
#header_box > p{
    font-size: 24px;
}
#selection_box{
    padding: 20px;
}
#selection_box > .info{
    color: gray;
    margin: 20px;
    font-size: 24px;
}
#main_contents{
    background: #cccccc;
}
#btn_group{
    padding: 0 20px 20px 20px;

}
#btn_group > ul{
    list-style: none;
}
#btn_group > ul > li{
    float: left;
    margin-right: 20px;
}
#main_contents{
    padding: 20px;
}
#money_nav{
    z-index: 2;
    width: 100%;
    position: fixed;
    background: #314570;
    padding: 20px 40px 20px 40px;
    box-shadow:0 1px 2px #aaa;
    color: white;
    opacity: 0.8;

}
#footer{
    font-size: 24px;
    font-family: 'Poiret One';
    text-align: center;
    opacity: 0.8;
/*                background: #333333;*/
    padding: 15px;
    color: #888888;
}
#footer > p{
    font-family: 'nanumgothic';
}
#arrow_down{
    right: 24px;
    bottom: 24px;
}
#arrow_up{
    right: 72px;
    bottom: 24px;
}
.btn_arrow{
    border-radius: 3px;
    background: white;
    padding: 10px;
    position: fixed;
    color: #555555;
    box-shadow:0 1px 2px #aaa;
    opacity: 0.5;
}
.btn_arrow:hover{
    transition: 0.3s;
    opacity: 1;
}
.right{
    float: right;
}
.left{
    flex: left;
}
.btn{
    width: 52px;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 12px 24px 12px 24px;
    box-shadow:0 1px 2px #aaa;
    color: #444444;
}
.btn:hover{
    transition: 0.3s;
    background: white;
    background: #314570;
    box-shadow:0 1px 2px #aaa;
    color: white;
}
.danger{
    width: 200px;
    opacity: 0.8;
    margin-top: 20px;
    border-radius: 3px;
    padding: 12px 24px 12px 24px;
    color: #444444;
}

.danger:hover{
    transition: 0.3s;
    background: white;
    background: #882222;
    box-shadow:0 1px 2px #aaa;
    color: white;
}
 .btn_prev{
    box-shadow:0 1px 2px #aaa;
    background: #882222;
/*                width: 40%;*/
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 18px 12px 18px;
    border-radius: 3px;
}
.btn_prev:hover{
    transition: 0.3s;
    color: white;
}
.btn_next{
    box-shadow:0 1px 2px #aaa;
    background: #77bc77;
/*                width: 40%;*/
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 18px 12px 18px;
    border-radius: 3px;
    box-shadow:0 1px 2px #aaa;
}
.sub_info{

    text-align: right;
    padding: 20px;
    font-size: 14px;
    color: gray;
}
.card{
    font-family: 'nanumgothic';
    width: 80%;
    padding:1.5rem 0px 1.5rem 0px;
/*                padding: 10px;*/
    box-shadow:0 1px 2px #aaa;
    background:white;
    margin: 20px auto;
    border-radius:3px;
}
.card > h3{
    color: #444444;
    margin: 20px;
}
.card > p{
    color: #666666;
    margin: 25px;
}
.item{
    padding: 10px;
    margin: 20px 10px 20px 10px;   
}
.input_number{
    width: 40px;
    text-align: center;
    font-size: 18px;
}
.price{
    margin: 30px;
    clear:both;
    text-align:right;
    font-size: 14px;

}