 * {
    font-family: 'nanumgothic';
    margin: 0 auto;
    -webkit-text-size-adjust:auto;
}
a{
    text-decoration: none;
    color: white;
}
body{
    height: 100%;
}
#bg{
    padding: 10%;
    background-image: url(../img/bg.jpg);
    background-size: cover;   
}
#header_box{
    padding-top: 100px;
    padding-bottom: 100px;
}
#logo{
    font-family: 'Poiret One';
    color: white;
    font-size: 72px;
    text-align: center;
}
#intro{
    color: white;
    text-align: center;
}
#main_contents{
    text-align: center;
}
#footer{
    font-size: 24px;
    font-family: 'Poiret One';
    text-align: center;
    opacity: 0.8;
/*                background: #333333;*/
    padding: 15px;
    color: #888888;
}
#footer > p{
    font-family: 'nanumgothic';
}
.btn{
    width: 200px;
    opacity: 0.8;
    margin-top: 20px;
    border-radius: 3px;
    padding: 12px 24px 12px 24px;
    border: 2px solid white;

}
.btn:hover{
    transition: 0.3s;
    background: white;
    color: #444444;
}

.btn_facebook{
    opacity: 0.8;
    margin-top: 20px;
    border-radius: 3px;
    border: 2px solid #314570;
    background: #314570;
    padding: 12px 24px 12px 24px;
    width: 200px;
    text-align: center;
    color: whtie;
}
.btn_facebook:hover{
    transition: 0.3s;
    border-radius: 3px;
    background: #314570;
    text-align: center;
    color: white;
}